Django==1.9.1
django-annoying==0.10.3
django-postman==3.5.1
django-scheduler==0.8
docopt==0.6.2
icalendar==3.10
pbr==1.10.0
pipreqs==0.4.4
python-dateutil==2.5.3
pytz==2016.7
requests==2.12.3
six==1.10.0
stevedore==1.17.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
virtualenvwrapper-win==1.2.1
yarg==0.1.9
