{% extends "base.html" %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block head %}What is HealthNet?{% endblock %}
{% block content %}



    <pre>

        <font size = "6">
        -HealthNet is a health administration software that hospitals use to streamline and make day-to-day operations easy.
        -This software allows patients and the staff of the hospital to easily do tasks such as make appointments, create prescriptions,
        and view tests or release their results.
        </font>

        </pre>

<pre>

<font size = "5" color="red">Team:</font> YourSuperCoolName

<font size = "5" color="red">Team Coordinator:</font> Juasheem Sulton

<font size = "5" color="red">Development Coordinator:</font> Kyle Ki

<font size = "5" color="red">Q&A/Configuration Coordinator:</font> Dennis(Wenxuan) Zhou

<font size = "5" color="red">Testing Coordinator:</font> Trevor Powers

<font size = "5" color="red">Requirements Coordinator:</font> Ryan Connors


    <button type="button" onclick="window.location.href='http://127.0.0.1:8000' ">Back</button>

</pre>
{% endblock %}